<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${tittle}"></title>
</head>
<body>
        <h1 th:text="${tittle}"></h1>
        <hr>
        <div th:if="${users.size() == 0 }"> No hay elementos en la lista.</div>
        <div th:if="${users.size() > 0 }">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:if="${user.email}" th:text="${user.email}"></td>
                        <td th:if="${user.email == null}" th:text="${'No tiene email'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>